* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
body {
  font-family: Arial, sans-serif;
  background-color:  rgb(186, 73, 73);
  color: rgb(255,255, 255); 
  
}

.pomo-container{
  max-width: 600px;
  margin: 0 auto;
  padding: 1rem;

}

header{
  text-align: center;
  margin-top:  2%;
  margin-bottom: 4%
}

header hr{ 
  margin: 2% auto;
  border-top: 0.15px solid  #eeeeee;
  color:black;
  background-color: black;
  
  
}

.timer-section {
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center;
  gap: 2rem;
  border: 2px solid rgb(186, 73, 73);
  border-radius: 10px;
  background-color: rgb(255, 255, 255, 0.1);
  width: clamp(350px, 80%, 800px);
  margin: 0 auto;
  margin-top: 2.5rem;
  padding: 1.5rem;
  

} 

.pomo-titles {
  display: flex;
  gap: 2rem;
  align-items: center; 
  justify-content: center;
  width: 100%;
}


.pomo-titles button {
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
  font-size: clamp(1rem, 1.5vw, 1.5rem);
  
}

.pomo-titles button.clicked {
  background-color: rgb(186, 73, 73, 1.5 );
  font-weight: 600;
  padding: 0.25rem 0.5rem;
  border-radius: 8px;
}


.timer h1{
  font-size: clamp(6.5rem, 14vw, 8rem);
  color: white;
}

.start-button button{
  font-size: clamp(1.2rem, 4vw, 2.5rem);
  font-weight: 600;
  border: 2px solid white;
  border-radius: 6px;
  background-color: white;
  color: rgb(186, 73, 73);
  padding: 0.5rem 2.5rem;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19)
}

.start-button.clicked {
  box-shadow: 0;
}

.pomo-counter {
  font-size: clamp(1.2rem, 2vw, 3rem);
  color: #eeeeee;
  font-weight: 100;
  text-align: center;
  margin: 1rem 0;
}

.todo-list {
  width: clamp(350px, 80%, 800px);
  margin: 0 auto;
}

.todo-list-title{
  color: white;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

list hr{ 
  margin: 2% auto;
  border-top: 2px solid #eeeeee;
  color:black;
  background-color: black;
  
  
}
hr {
  border: none;
  
}

.task-card{
  background-color: rgb(255, 255, 255, 0.1);
  border: 2px solid rgb(186, 73, 73);
  border-radius: 10px;
  padding: 1rem;
  margin-bottom: 1rem;
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  
}

.add-task button{
  background: none;
  border: none;
  cursor: pointer;
  color: white;
  font-size: clamp(1.2rem, 1.5vw, 2rem);
  
}

.add-task {
  display: flex; 
  justify-content: center;
  border: dashed #eeeeee;
}

.modal{
  display: flex; 
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  justify-content: space-between;
}


